#将盖茨比网站构建和部署到GitHub页面的示例工作流
#
#要开始使用盖茨比，请参阅： https://www.gatsbyjs.com/docs/quick-start/
#
名称：将Gatsby站点部署到页面

在……之上：
#在以默认分支为目标的推送上运行
推：
分支机构：["主要"]

#允许您从“操作”选项卡手动运行此工作流
工作流程分派(_D)：

#设置GitHub_TOKEN的权限以允许部署到GitHub页面
权限：
内容：已读
页面：写入
id-token：写入

#只允许一个并发部署，跳过正在运行和最新排队之间排队的运行。
#但是，不要取消正在进行的运行，因为我们希望允许这些生产部署完成。
并发：
组：“”页“”
正在取消：false

#默认为bash
默认值：
跑：
shell:bash

作业：
#生成作业
建立：
run-on:ubuntu-latest
步骤：
-名称：结帐
用途：操作/签出@v4
-名称：检测包管理器
ID：检测包管理器
运行：|
如果[-f"${{github.Workspace}}/tarn.lock"]；则
回声"经理=纱线">>$GITHUB_OUTPUT
回声"命令=安装">>$GITHUB_OUTPUT
退出0
Elif[-f"${{github.workspace}}/package.json"]；然后
回声"经理=npm">>$GITHUB_OUTPUT
回声"command=ci">>$GITHUB_OUTPUT
退出0
其他
回声"无法确定包管理器"
出口1
Fi
-名称：安装节点
用途：操作/setup-node@v4
和……一起：
节点版本：“20”
缓存：${{steps.detect-package-manager.outputs.manager}}
-名称：设置页面
ID：页
用法：操作/configure-pages@v5
和……一起：
#在盖茨比配置文件中自动插入路径前缀。
          #
#如果您想自己管理配置，可以删除此行。
static_site_generator:gatsby
-名称：还原缓存
用法：操作/缓存@v4
和……一起：
路径：|
公共
.cache
密钥：${{runner.OS}}-gatsby-build-${{哈希文件('public')}}
还原键：|
${{runner.os}}-Gatsby-build-
-名称：安装依赖项
运行：${{台阶。检测包管理器。outputs.manager}}${{steps.detect-package-manager.Outputs.command}}
-名称：与盖茨比一起构建
env：
前缀路径(_P)：'true'
跑步：${{steps.detect-package-manager。输出.经理}}运行内部版本
-名称：上传工件
用法：操作/上载-页面-工件@v3
和……一起：
路径：./public

#部署作业
部署：
环境：
名称：github-pages
URL：${{steps.deployment.outputs.page_url}}
run-on:ubuntu-latest
需求：构建
步骤：
-名称：部署到GitHub页面
ID：部署
用法：操作/部署页面@v4
